Corey Frang <gnarf@gnarf.net>
Eddie Monge <eddie@eddiemonge.com>
Timo Tijhof <krinklemail@gmail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Brendan Byrd <github@resonatorsoft.org> <GitHub@ResonatorSoft.org>
Brendan Byrd <github@resonatorsoft.org> <Perl@ResonatorSoft.org>
Michał Gołębiowski-Owczarek <m.goleb@gmail.com>
