*~
._.*
*.swp
.DS_Store
.sass-cache
.idea/*
*.log
.eslintignore
.eslintrc.json

/bower_components
/build
/external
/test
/.gitattributes
/.gitignore
/.mailmap
/.npmignore
/.npmrc
/.sizecache.json
/.travis.yml
/bower.json
/CONTRIBUTING.md
/Gruntfile.js
